body {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: color(text-color);
  font-family: $base-font-family;
  font-feature-settings: "kern", "liga", "pnum";
  font-size: $base-font-size;
  line-height: $base-line-height;
  -webkit-font-smoothing: antialiased;
  margin: 0;
  background: color(ghost-white);
}

h1, h2, h3, h4 {
  font-family: $heading-font-family;
}
